@font-face {
    font-family: 'Haptik-Light';
    src: url('fonts/GT-Haptik-Light-Trial.otf') format("opentype");
}

@font-face {
    font-family: 'Haptik-Light-Rotalic';
    src: url('fonts/GT-Haptik-Light-Rotalic-Trial.otf') format("opentype");
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2D8862;

}

html {
  background-color: #2D8862;
}

body {
  background-color: #f5f5f5;
}

* {
    box-sizing: inherit;
}


h1 {
    display: inline;
    font-family: 'Haptik-Light', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    color: #2D8862;
    /*-webkit-text-stroke: 1px #f5f5f5;*/
}

p {
  display: inline;
  font-family: 'Haptik-Light', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #2D8862;
}

#home-button {
  background-color: transparent;
}

#nav-links {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#nav-links a{
  display: inline-block;
  background-color: transparent;
  margin-left: 4rem;
}

#content {
  padding: 6rem 2rem;
}
